<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <!--
    Notice: Requires you to manually enable this permission by going to:
    Settings > Apps > Special app access > Display over other apps
    and enable this permission for HelloAlert application.
   -->
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

  <application
    android:label="Hello"
    android:theme="@android:style/Theme.Holo.NoActionBar"
    tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">
    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:showForAllUsers="true"
      android:showOnLockScreen="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <receiver
      android:name=".ButtonReceiver"
      android:enabled="true"
      android:exported="true"
      tools:ignore="ExportedReceiver">
      <intent-filter android:priority="-999">
        <!-- In the device go to Settings > Buttons -->
        <!-- Set short press action to one of: -->
        <!-- Push to Talk -->
        <action android:name="android.intent.action.PTT.down" />
        <action android:name="android.intent.action.PTT.up" />
        <action android:name="ism.intent.action.PTT.down" />
        <action android:name="ism.intent.action.PTT.up" />
        <!-- Kodiak PTT -->
        <action android:name="com.kodiak.intent.action.PTT_BUTTON" />
        <action android:name="cn.ruggear.customkey.MyAction" />
        <!-- Kodiak SOS -->
        <action android:name="com.kodiak.intent.action.KEYCODE_SOS" />
        <!-- SOS -->
        <action android:name="android.intent.action.sos.down" />
        <action android:name="android.intent.action.sos.up" />
        <action android:name="android.intent.action.SOS_BUTTON" />
        <!-- Agnet PTT -->
        <action android:name="com.airbus.pmr.action.PTT_START" />
        <action android:name="com.airbus.pmr.action.PTT_STOP" />
        <!-- Microsoft Teams PTT -->
        <action android:name="com.microsoft.teams.action.PTT_DOWN" />
        <action android:name="com.microsoft.teams.action.PTT_UP" />
        <!-- Streamwide PTT -->
        <action android:name="android.intent.action.ptt2.down" />
        <action android:name="android.intent.action.ptt2.up" />
        <!-- Nokia Teams Comms PTT -->
        <action android:name="nokia.ntc.intent.action.ptt.down" />
        <action android:name="nokia.ntc.intent.action.ptt.up" />
        <!-- Nokia Teams Comms SOS -->
        <action android:name="nokia.ntc.intent.action.sos.down" />
        <action android:name="nokia.ntc.intent.action.sos.up" />
        <!-- Ruggear LWP SOS (available only on longpress) -->
        <action android:name="com.ruggear.intent.action.SOS_LWP" />
        <!--Motorola Wave ptt-->
        <action android:name="com.mcx.intent.action.CRITICAL_COMMUNICATION_CONTROL_KEY" />
        <!--Motorola Wave sos-->
        <action android:name="com.mcx.intent.action.CRITICAL_COMMUNICATION_SOS_KEY" />
        <!--Kodiak channel next/previous-->
        <action android:name="com.kodiak.intent.action.ACTION_BUTTON_NEXT" />
        <action android:name="com.kodiak.intent.action.ACTION_BUTTON_PREVIOUS" />
        <!--Ruggear channel next/previous-->
        <action android:name="com.ruggear.intent.action.PTT.CHANNEL.next" />
        <action android:name="com.ruggear.intent.action.PTT.CHANNEL.prev" />
        <!--Isafemobile channel next/previous-->
        <action android:name="com.isafemobile.intent.action.PTT_CHANNEL_NEXT" />
        <action android:name="com.isafemobile.intent.action.PTT_CHANNEL_PREVIOUS" />

      </intent-filter>
    </receiver>
  </application>

</manifest>
